<table id="invoiceContent">
    <tr>
        <th class="vendor">Vendor</th>
        <th class="database">Database</th>
        <th class="amount">Amount</th>
    </tr>
    {{#each invoiceData }}
    <tr>
        <td class="vendor">{{ vendor }}</td>
        <td class="product">{{ product }}</td>
        <td class="amount">$<span class="align">{{ currency price }}</span></td>
    </tr>
    {{/each}}
    {{#each invoiceCredits }}
        <tr>
            <td class="vendor">{{ vendor }}</td>
            <td class="product">{{ product }}</td>
            <td class="amount credit-amount">$<span class="align">({{ creditCurrency price }})</span></td>
        </tr>
    {{/each}}
    <tr class="footer">
        <td class="vendor" colspan="2">
            {{#if realInvoice }}
                Please pay this total:
            {{ else }}
                Total:
            {{/if}}
        </td>
        <td class="total amount">$<span class="align">{{ currency invoiceTotal }}</span></td>
    </tr>
</table>
