{{#if columns.library}}
<div role="gridcell" aria-describedby="library-column-header" class="column library">
    <div class="library-info">
        <div class="name">{{ offering.library.name }}</div>
        <div>
            <span class="key">FTE{{#if offering.library.fteInfo }} ({{ offering.library.fteInfo }}){{/if}}:</span><span class="value">{{ offering.library.fte }}</span>
        </div>
        <div>
            <span class="key">Institution:</span><span class="value">{{ offering.library.institutionYears }}</span>
        </div>
        <div>
            <span class="key">Type:</span><span class="value">{{ offering.library.institutionType }}</span>
        </div>
    </div>
    <div class="controls">
        <button type="button" class="carli-button edit" data-offering-id="{{ offering.id }}"{{#if userIsReadOnly}} disabled="disabled" {{/if}}>Edit <span class="fa fa-pencil-square-o "></span></button>
    </div>
</div>
{{/if}}

{{#if columns.product}}
<div role="gridcell" aria-describedby="product-column-header" class="column product">
    <h3>{{ offering.product.displayName }}</h3>
    <div class="controls">
        <button type="button" class="carli-button edit" data-offering-id="{{ offering.id }}">Edit <span class="fa fa-pencil-square-o "></span></button>
    </div>
</div>
{{/if}}

{{#if columns.vendor}}
<div role="gridcell" aria-describedby="vendor-column-header" class="column vendor">
    <h3>{{ offering.product.vendor.name }}</h3>
</div>
{{/if}}

{{#if columns.library_view }}
<div role="gridcell" aria-describedby="library-view-column-header" class="column library-view">
    <div class="display">
            <strong class="purple">{{ displayLabel offering.display }}</strong>
    </div>
    <div class="offering-comments">
        <div class="column internal-comments">
            <div class="label">Internal Discussion</div>
            <div class="view-comment">{{ offering.internalComments }}</div>
        </div>
        <div class="column library-comments">
            <div class="label">Comments for Libraries</div>
            <div class="view-comment">{{ offering.libraryComments }}</div>
        </div>
    </div>
</div>
{{/if}}

{{#if columns.selected_last_year }}
<div role="gridcell" aria-describedby="selected-last-year-column-header" class="column selected-last-year">
    {{#if selectedLastYear}}
    <span class="fa fa-check-circle"></span>
    {{/if}}
</div>
{{/if}}

{{#if columns.site_license_price_both }}
<div role="gridcell" aria-describedby="site-license-price-column-header" class="column site-license-price">
    <div class="offering-pricing">
        <div class="site-pricing">
            <div class="column">
                <div class="header">
                    <strong>{{ lastYear }}</strong> Price
                    <span class='funding-indicator'>{{ historicalFundingIndicator offering }}</span>
                </div>
                <div class="row">
                    {{ fundedLastYearsSiteLicensePrice offering }}
                </div>
            </div>
            <div class="column">
                <div class="header">
                    <strong>{{ thisYear }}</strong> Price
                    <span class='funding-indicator'>{{ fundingIndicator offering }}</span>
                </div>
                <div class="row {{ getUpdatedPricingClass offering }}">
                    {{ fundedSiteLicensePrice offering }}
                    {{#if offering.vendorComments.site }}
                        <div tabindex="0"
                             data-offering-id="{{ offering.id }}"
                             data-comment-type="site"
                             class="comment-marker fa fa-comment-o"></div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="su-pricing">
            <div class="header"><strong>Simultaneous User Price</strong></div>
                <div class="pricing-container">
                <div class="column">
                    <div class="edit-su-pricing">
                        <table>
                            <thead>
                            <tr>
                                <th>
                                    <strong>{{ lastYear }}</strong> Price
                                </th>
                                <th>User(s)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each pricingLastYear.su }}
                            <tr>
                                <td>{{ currency price }}</td>
                                <td>{{ users }}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column">
                    <div class="edit-su-pricing">
                        <table>
                            <thead>
                            <tr>
                                <th>
                                    <strong>{{ thisYear }}</strong> Price
                                </th>
                                <th>User(s)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each suPricingThisYear }}
                                <tr>
                                    <td>
                                        {{ currency price }}
                                        {{#if comment }}
                                            <div tabindex="0"
                                                 data-offering-id="{{ @root.offering.id }}"
                                                 data-comment-type="su"
                                                 data-users="{{ users }}"
                                                 class="comment-marker fa fa-comment-o"></div>
                                        {{/if}}
                                    </td>
                                    <td>{{ users }}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if columns.site_license_price_current_only }}
    <div role="gridcell" aria-describedby="site-license-price-column-header" class="column site-license-price">
        <div class="offering-pricing">
            <div class="site-pricing single-column">
                <div class="column">
                    <div class="header">
                        <strong>Site License</strong>
                        <span class='funding-indicator'>{{ fundingIndicator offering }}</span>
                    </div>
                    <div class="row">
                        {{ fundedSiteLicensePrice offering }}
                        {{#if offering.vendorComments.site }}
                            <div tabindex="0"
                                 data-offering-id="{{ offering.id }}"
                                 data-comment-type="site"
                                 class="comment-marker fa fa-comment-o"></div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="su-pricing single-column">
                <div class="header">
                    <strong>Simultaneous User Prices</strong>
                </div>
                <div class="column">
                    <div class="edit-su-pricing">
                        <table>
                            <thead>
                            <tr>
                                <th>
                                    <strong>Price</strong>
                                </th>
                                <th>User(s)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each offering.pricing.su }}
                                <tr>
                                    <td>{{ currency price }}</td>
                                    {{#if comment }}
                                        <div tabindex="0"
                                             data-offering-id="{{ @root.offering.id }}"
                                             data-comment-type="su"
                                             data-users="{{ users }}"
                                             class="comment-marker fa fa-comment-o"></div>
                                    {{/if}}
                                    <td>{{ users }}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if columns.site_license_price_only_as_price }}
    <div role="gridcell" aria-describedby="site-license-price-column-header" class="column site-license-price">
        <div class="offering-pricing">
            <div class="site-pricing single-column">
                <div class="column">
                    <div class="header">
                        <strong>Price</strong>
                        <span class='funding-indicator'>{{ fundingIndicator offering }}</span>
                    </div>
                    <div class="row">
                        {{ fundedSiteLicensePrice offering }}
                        {{#if offering.vendorComments.site }}
                            <div tabindex="0"
                                 data-offering-id="{{ offering.id }}"
                                 data-comment-type="site"
                                 class="comment-marker fa fa-comment-o"></div>
                        {{/if}}
                    </div>
                    <div class="header">
                        <strong>Annual Access Fee</strong>
                    </div>
                    <div class="row">
                        {{ currency offering.oneTimePurchaseAnnualAccessFee }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if selectionColumn }}
<div role="gridcell" aria-describedby="selection-column-header" class="column selection">
    <label for="{{ offering.id }}_selection" class="sr-only">Library Selection</label>
    {{#if offering.selection }}
    <div class="selection-display">
        <div class="users"><span class="label">Selection:</span> {{ formatSelectionUsers offering.selection.users }}</div>
        <div class="price"><span class="label">Price:</span> {{ fundedSelectionPrice offering }}</div>
    </div>
    {{/if}}
    {{#if columns.oneTimePurchaseSelection }}
        {{#if offering.oneTimePurchaseInvoicedDate }}
            <span class="one-time-purchase-invoice-date">Invoiced on: {{ mediumDate offering.oneTimePurchaseInvoicedDate }}<span>
        {{/if}}
    {{/if}}
</div>
{{/if}}

{{#if columns.vendor_invoice }}
<div role="gridcell" aria-describedby="vendor-invoice-column-header" class="column vendor-invoice">
    <div class="label">Vendor Price</div> {{ currency offering.invoice.price }}
    <div class="label">Invoice #</div> {{ offering.invoice.number }}
</div>
{{/if}}

{{#if columns.flag}}
<div role="gridcell" aria-describedby="flag-column-header" class="column flag" title="{{ offeringFlagTitle }}">
    {{#if offeringIsFlagged }}
        {{#if offeringWasFlaggedByCarli }}
            <span class="fa fa-flag carli-flag"></span>
        {{else}}
            <span class="fa fa-flag"></span>
        {{/if}}
    {{else}}
        {{#if offeringWasUnFlaggedByCarli }}
            <span class="fa fa-flag-o carli-flag"></span>
        {{else}}
            <span class="fa fa-flag-o"></span>
        {{/if}}
    {{/if}}
</div>
{{/if}}
