<div class="column library">
    <div class="library-info">
        <span class="name">{{ offering.library.name }}</span>
        <div>
            <span class="key">Size (FTE):</span><span class="value">{{ offering.library.fte }}</span>
        </div>
        <div>
            <span class="key">Institution:</span><span class="value">{{ offering.library.institutionYears }}</span>
        </div>
        <div>
            <span class="key">Type:</span><span class="value">{{ offering.library.institutionType }}</span>
        </div>
    </div>
    <button type="button" class="carli-button edit">Edit <span class="fa fa-pencil-square-o "></span></button>
    <button type="button" style="display: none;" class="carli-button save">Save <span class="fa fa-floppy-o"></span></button>
</div>
<div class="column library-view">
    <div class="display">
            <strong class="purple">{{ displayLabel offering.display }}</strong>
    </div>
    <div class="comments">
        <div class="column internal-comments">
            <label for="internal-comments">Internal Comments</label>
            <textarea id="internal-comments" readonly="true">{{ offering.internalComments }}</textarea>
        </div>
        <div class="column library-comments">
            <label for="library-comments">Comments for Libraries</label>
            <textarea id="library-comments" readonly="true">{{ offering.libraryComments }}</textarea>
        </div>
    </div>
</div>
<div class="column selected-last-year">
    {{#if selectedLastYear}}
    <span class="fa fa-star"></span>
    {{/if}}
</div>
<div class="column site-license-price">
    <div class="site-pricing single-column">
        <div class="column">
            <div class="header"><strong>{{ lastYear }}</strong> Price</div>
            <div class="row">
                {{ currency offering.pricing.site }}
            </div>
        </div>
    </div>
    <div class="su-pricing single-column">
        <div class="header"><strong>Simultaneous User Price</strong></div>
        <div class="column">
            <div class="edit-su-pricing">
                <table>
                    <thead>
                    <tr>
                        <th><strong>{{ thisYear }}</strong> Price</th>
                        <th>User(s)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each offering.pricing.su }}
                    <tr>
                        <td>{{ currency price }}</td>
                        <td>{{ users }}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="column selection">
    <label for="{{ offering.id }}_selection" class="sr-only">Library Selection</label>
    {{#if offering.selection }}
    <div class="selection-display">
        <div class="users"><span class="label">Selection:</span> {{ formatSelection offering.selection.users }}</div>
        <div class="price"><span class="label">Price:</span> {{ currency offering.selection.price }}</div>
    </div>
    {{/if}}
</div>
<div class="column vendor-invoice">
    <div class="label">Vendor Price</div> {{ currency offering.invoice.price }}
    <div class="label">Invoice #</div> {{ offering.invoice.number }}
</div>